.row-fluid {
  
  
  background-image: -moz-linear-gradient(top,  rgba(109, 176, 227, 1) 0%, rgba(221, 221, 221, 1) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109, 176, 227, 1)), color-stop(100%,rgba(221, 221, 221, 1)));
  background-image: -webkit-linear-gradient(top,  rgba(109, 176, 227, 1) 0%,rgba(221, 221, 221, 1) 100%);
  background-image: -o-linear-gradient(top,  rgba(109, 176, 227, 1) 0%,rgba(221, 221, 221, 1) 100%);
  background-image: -ms-linear-gradient(top,  rgba(109, 176, 227, 1) 0%,rgba(221, 221, 221, 1) 100%);
  background-image: linear-gradient(to bottom,  rgba(109, 176, 227, 1) 0%,rgba(221, 221, 221, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6DB0E3', endColorstr='#DDDDDD',GradientType=0 );
  
  opacity: 1;
  }
  
 
  
 .container {
 	width: 1100px;
 	max-width: 1100px;
 	margin-left: inherit;
 }
.main_container {
    width:940px;
    margin-left:auto;
    margin-right:auto;
}
.mid_container {
    margin:20px 0px;
}
.main_content_area {
    float:left;
    width:700px;
}
.right_sidebar {
    float:right;
    width: 220px;
}
.main_content_area,
.right_sidebar,
.footer,
.header {
    border:1px solid #bbb;
}

mostread, 
.weblinks, 
.category-module, 
.syndicate-module, 
 ul.nav.menu,
 ul.latestnews, 
 #login-form {
         -moz-border-radius: 5px;
         -webkit-border-radius: 5px;
         -khtml-border-radius: 5px;
         border-radius: 5px;
         background:#eee;
         border:1px solid #ccc;
         padding:5px;
         margin:0px 0px 10px 0px;
         list-style-type: none; 
}
ul.latestnews li{
	text-decoration: none;
}

.mostread, 
.weblinks, 
.category-module {
         padding:0px 0px 0px 20px; 
} 

.syndicate-module {
         display:block; 
}